/* GENERAL */
* {
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS';
}
:root{
    --color-1st: #2b052d;
    --color-2nd: #5b2578;
    --color-3rd: #72b2a1;
    --color-4th: #4fe8c2;
    --color-5th: #caffc2;
    --color-ft1: #fff;
    --color-ft2: #000;
}
::selection{
    background-color: var(--color-4th);
}


/* DOCUMENT */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-5th);
}
header{
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-size: 2.2em;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    color: var(--color-ft2);
}
main > *{
    margin: 5vh;
    width: calc(100% - 10vh);
}
footer{
    justify-content: space-around;
}
header, footer {
    display: flex;
    align-items: center;
    user-select: none;
    width: 100%;
    height: 10vh;
    background-color: var(--color-1st);
}

/* COMMON ELEMENTS */
main > h1{
    margin: 5vh 5vh 0 5vh;
}
img{
    user-select: none;
}
a{
    text-decoration: none;
    color: var(--color-ft1);
}

/* PAGE CONTENT */
#title-menu{
    font-family: "Pacifico";
    font-weight: normal;
}
#eco {
    font-family: "Pacifico";
    color: var(--color-3rd);
}
#header-space{
    height: 10vh;
    width: 100%;
}
#page-overlay{
    pointer-events: none;
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100%;
    background-color: var(--color-1st);
    opacity: 0;
    transition: 0.5s;
}
#page-overlay.active{
    pointer-events: auto;
    opacity: 0.6;
}
#page-menu{
    position: fixed;
    z-index: 1200;
    left: -40vh;
    width: 40vh;
    height: 100%;
    background-color: var(--color-2nd);
    transition: 0.5s;
}
#page-menu.active{
    left: 0;
}

.icon {
    font-size: 1em;
}
.page-btn{
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    color: var(--color-ft1);
    transition: 0.3s;
}
.page-a{
    font-weight: bold;
    transition: 0.3s;
}
.page-a:hover, .page-btn:hover{
    scale: 1.2;
}
.page-list{
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
li::marker{
    color: var(--color-1st);
}

/* INDEX CONTENT*/
#banner{
    width: 100%;
    aspect-ratio: 3;
}
#banner-fade{
    position: absolute;
    top: 10vh;
    z-index: 800;
    width: 100%;
    opacity: 0.8;
    aspect-ratio: 3;
    background: linear-gradient(
        to bottom,
        var(--color-1st) 0%,
        transparent 10%,
        transparent 30%,
        var(--color-1st) 100%);
}
#banner-img{
    width: 100%;
    opacity: 0.8;
}

#card-movies{
    aspect-ratio: 2;
    display: flex;
    justify-content: space-between;
}

.flex-movie{
    margin: 1vh;
    aspect-ratio: 2/3;
    background-color: var(--color-3rd); /*edit*/
    transition: 0.3s;
}
.flex-movie:hover{
    scale: 1.08;
}

.card{
    aspect-ratio: 2.5;
    display: flex;
    justify-content: space-between;
    background: var(--color-3rd);
    border: dashed 0.5vh var(--color-ft2);
    border-radius: 2vh;
    overflow: hidden;
    transition: 0.3s;
}
.card-reverse{
    flex-direction: row-reverse;
}
.card *{
    flex: 1;
}
.card :not(img) {
    margin: 1vh;
}
.card div{
    aspect-ratio: 5/3;
}
.card div h3{
    text-align: left;
}
.card img{
    /*edit*/
    background-color: var(--color-2nd);
}
.card:hover{
    scale: 1.05;
}

/* HORIZONTALL */
@media (min-aspect-ratio: 4/5) {
    html{
        font-size: 100%;
    }
}
/* VERTICAL */
@media (max-aspect-ratio: 4/5) {
    html{
        font-size: 200%;
    }
}