/* GENERAL */
* {
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS';
}
:root{
    --color-1st: #062914;
    --color-2nd: #2d7825;
    --color-3rd: #8EC247;
    --color-4th: #4fe8c2;
    --color-5th: #e7ffe4;
    --color-ft1: #fff;
    --color-ft2: #000;
}
::selection{
    background-color: var(--color-4th);
}


/* DOCUMENT */
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-5th);
}
header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
    height: 10vh;
}
main{
    display: flex;
    flex-direction: column;
    width: clamp(0px,100%,150vh);
    min-height: 80vh;
    margin: auto;
    color: var(--color-ft2);
}
header, footer {
    user-select: none;
    width: 100%;
    background-color: var(--color-1st);
}

h1 {
    color: var(--color-2nd);
}
img{
    user-select: none;
}
a{
    text-decoration: none;
    color: var(--color-ft1);
}
button {
    color: var(--color-ft1);
}
li {
    list-style-type: ">";
}
li::marker{
    color: var(--color-3rd);
    font-weight: bolder;
}
/* HEADER */
#title-menu{
    height: 3em;
}
#header-space{
    height: 10vh;
    width: 100%;
}

#page-overlay{
    pointer-events: none;
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100%;
    background-color: var(--color-1st);
    opacity: 0;
    transition: 0.5s;
}
#page-overlay.active{
    pointer-events: auto;
    opacity: 0.6;
}

#page-menu{
    position: fixed;
    z-index: 1200;
    left: -40vh;
    width: 40vh;
    height: 100%;
    background-color: var(--color-2nd);
    transition: 0.5s;
}
#page-menu.active{
    left: 0;
}
#page-menu > ul{
    display: flex;
    margin: 5vh 0;
    flex-direction: column;
    gap: 5vh;
}

#page-dropdown > ul{
    pointer-events: none;
    display: flex;
    flex-direction: column;
    position:absolute;
    gap: 2vh;
    top: 10vh;
    right: 0;
    width: 22vh;
    margin: 0;
    padding: 3vh 1vh;
    border-radius: 2vh;
    background-color: var(--color-2nd);
    transition: 0.2s;
    opacity: 0;
}
#page-dropdown:hover > ul{
    pointer-events: all;
    opacity: 1;
}
.fade-out{
    animation: fadeout 1s forwards;
    animation-delay: 2s;
}
#cart-output{
    position: absolute;
    top: 25vh;
    right: 0;
    color: var(--color-ft1);
    text-shadow:
        0.1em 0.1em 0.1em var(--color-ft2),
        0 0 0.1em var(--color-ft2);
    transition: 5s;
}
/* MAIN */
main > *{
    margin: 2vh 5vw;
    width: calc(100% - 10vh);
}
main > h1{
    margin: 5vh 5vh 0 5vh;
}
#btn-return-top{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    bottom: 1vw;
    right: 1vw;
    height: 2em;
    border-radius: 40%;
}

/* FOOTER */
footer * {
    color: var(--color-ft1);
}
footer > section {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
}
footer > :nth-child(2){
    align-items: center;
}
footer > section > section {
    margin: 1em;
    flex: 1;
    text-align: left;

}
footer > section > section * {
    margin: 0.5em 0;
    text-align: left;
}
#footer-list > li{
    text-align: left;
    padding: 0 1em;
}
/* common elements */
.icon {
    font-size: 2.2em;
    aspect-ratio: 1;
}
.logo{
    height: 2em;
}
.page-btn{
    cursor: pointer;
    border: 1px solid var(--color-ft1);
    border-radius: 0.5em;
    padding: 0.5em;
    background: none;
    color: var(--color-ft1);
    transition: 0.3s;
}
.header-btn {
    border: none;
    height: 100%;
    padding: 0;
}
.page-a{
    display: inline-block;
    transition: 0.3s;
}
.page-a:hover, .page-btn:hover{
    transform: scale(1.2);
}
.bg-1{background-color: var(--color-1st);}
.bg-2{background-color: var(--color-2nd);}

/* INDEX CONTENT*/
#banner{
    width: 100%;
    aspect-ratio: 3;
}
#banner > div{
    position: absolute;
    top: 10vh;
    z-index: 800;
    width: 100%;
    opacity: 0.8;
    aspect-ratio: 3;
    background: linear-gradient(
        to bottom,
        var(--color-1st) 0%,
        transparent 10%,
        transparent 30%,
        var(--color-1st) 100%);
}
#banner > img{
    width: 100%;
    opacity: 0.8;
}

#flex-movies{
    aspect-ratio: 2;
    display: flex;
    justify-content: space-between;
}
.btn-movie{
    cursor: pointer;
    margin: 1vh;
    aspect-ratio: 2/3;
    border: none;
    background-color: var(--color-3rd); /*edit*/
    transition: 0.3s;
}
.btn-movie:hover{
    scale: 1.08;
}

.card{
    display: flex;
    background: var(--color-3rd);
    border: dashed 0.5vh var(--color-ft2);
    border-radius: 2vh;
    overflow: hidden;
    transition: 0.3s;
}
.card * {
    margin: 1vh;
}
.card:hover{
    scale: 1.05;
}
.card-reverse{
    flex-direction: row-reverse;
}
.card-column{
    flex-direction: column;
}
.card-1{
    max-height: 50vw;
    justify-content: space-between;
}
.card-1 > * {
    flex: 1;
}
.card-1 > div{
    aspect-ratio: 5/3;
}
.card-1 > div > h3{
    text-align: left;
}
.card-1 > img{
    /*edit*/
    border-radius: 1vh;
    background-color: var(--color-2nd);
}

/* PELICULAS */
#grid-movies, #grid-movie{
    display: grid;
    min-height: 5em;
    background-color: var(--color-ft1);
}
#grid-movie{
    min-height: 70vh;
}
#grid-movie > *{
    text-align: left;
    margin: 0.5vh;
}
#grid-movie > h1{
    grid-area: title;
}
#grid-movie > img{
    grid-area: poster;
    background-color: var(--color-3rd);
}
#grid-movie > h4{
    grid-area: desc;
}
#table-hor{
    grid-area: hor;
    background-color: var(--color-3rd);
}
#table-hor thead{
    background-color: var(--color-2nd);
    height: 14%;  
}
#table-hor td:nth-child(odd){
    background-color: var(--color-4th);
}

/* CINES */
#grid-cinemas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 5em;
    background-color: var(--color-3rd);
}
#grid-cinemas > button{
    cursor: pointer;
    margin: 1vh;
    aspect-ratio: 1;
    background-color: var(--color-2nd);
    border:  0.5vh dashed var(--color-1st);
    transition: 0.3s;
}
#grid-cinemas > button:hover{
    scale: 1.1;
}
/* PAGAR */
#table-cartlist{
    min-height: 5em;
    background-color: var(--color-3rd);
}
#table-cartlist tr > * {
    border: 0.2rem solid var(--color-1st);
    height: 3em;
    font-size: 1rem;
}
#table-cartlist tr > th:first-child, td:first-child{
    width: 50%;
}
#table-cartlist button {
    background-color: var(--color-2nd);
    font-size: 2.2em;
}
#promo-input{
    width: 12em;
}
#promo-submit{
    color: var(--color-ft2);
}
/* HORIZONTALL */
@media (min-aspect-ratio: 4/5) {
    html{
        font-size: 100%;
    }
    #grid-movies{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #grid-movie{
        aspect-ratio: 1;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 0.5fr 1.5fr 3fr;
        grid-template-areas:
            "poster title"
            "poster desc"
            "hor hor";
    }
}
/* VERTICAL */
@media (max-aspect-ratio: 4/5) {
    html{
        font-size: 200%;
    }
    #grid-movies{
        grid-template-columns: 1fr 1fr;
    }
    #grid-movie{
        aspect-ratio: 2/3;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 3fr 3fr;
        grid-template-areas:
            "title title"
            "poster desc"
            "hor hor";
    }
}

@keyframes fadeout {
    0%{ opacity: 1;}
    100% {opacity: 0;}
}